#home {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  .buttons {
    margin: 0.5em 0;
  }
  .icons {
    margin: 0 5px;
  }
  .fabs {
    left: 0;
    top: -4em;
    position: absolute;

    &.hide {
      display: none;
    }
  }

  #step-container {
    position: relative;
    width: 30em;

    .steps {
      &.hide {
        display: none;
      }
    }
    .terms-modal p {
      padding: 2em 4em;
    }
    .success, .failure {
      font-size: 3em;

      p {
        margin: 0.5em;
      }
      &.hide {
        display: none;
      }
      svg {
        transform: scale(3);
      }
    }
    .success {
      color: green;
    }
    .failure {
      color: red;
    }
  }

}
